/* CategoryPage.css */
.category-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .category-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Display 4 containers in each row */
    gap: 20px; /* Adjust the gap between containers as needed */
    margin: 20px;
    justify-content: center;
    overflow: hidden; /* Hide overflowing content */
  }
  
  .category-container {
    width: 200px; /* Adjust container width as needed */
    height: 250px; /* Adjust container height as needed */
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 10px;
    position: relative;
    animation: slide 10s linear infinite; /* Reduced animation duration to 10s */
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  @keyframes slide {
    0%, 100% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-100%);
    }
    45% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(-200%);
    }
    70% {
      transform: translateX(-200%);
    }
    75% {
      transform: translateX(-300%);
    }
    95% {
      transform: translateX(-300%);
    }
  }
  